<app-nav-menu></app-nav-menu>
<div class="row">
    <div class="col-lg-2">
        <app-sidebar (event)="catchSearchCondition($event)"></app-sidebar>
    </div>
    <div class='col-sm-12 col-lg-8 offset-lg-0 body-content'>
        <div class="app-calendar">
            <block-ui>
                <div class="toolbar">
                    <div class="">
                        <h2>{{calendarApi?.getDate() | date: 'yyyy年M月'}}</h2>
                        <!-- <h2>{{selectedDate | date: 'yyyy年M月'}}</h2> -->
                    </div>
                    <div class="">
                        <i class="fas fa-map-marker-alt icon"></i>{{calendarEvents?.length}}
                    </div>
                    <div class="fc-button-group">
                        <button type="button" class="fc-today-button fc-button fc-button-primary"
                            (click)="onLastYear()">一年前</button>
                        <button type="button" class="fc-today-button fc-button fc-button-primary"
                            (click)="onLastYearMonth()">一年前の今月</button>
                        <button type="button" class="fc-today-button fc-button fc-button-primary"
                            (click)="onThisMonth()">今月</button>
                        <button type="button" class="fc-prev-button fc-button fc-button-primary" aria-label="prev"
                            (click)="onPrevMonth()">
                            <span class="fc-icon fc-icon-chevron-left"></span>
                        </button>
                        <button type="button" class="fc-next-button fc-button fc-button-primary" aria-label="next"
                            (click)="onNextMonth()">
                            <span class="fc-icon fc-icon-chevron-right"></span>
                        </button>
                    </div>
                </div>
                <full-calendar defaultView="dayGridMonth" #calendar (dateClick)="onDateClick($event)"
                    (eventClick)="openDetail($event)" [events]="calendarEvents" deepChangeDetection="true"
                    [plugins]="calendarPlugins" locale="jaLocale" nextDayThreshold="01:00:00" eventLimit="true"
                    eventColor="orange" eventTextColor="white" [validRange]="nowDate" [defaultDate]="selectedDate"
                    [header]=false>
                </full-calendar>
            </block-ui>
        </div>
        <div *ngIf="isDetailOpen">
            <app-checkin-detail [checkinId]="checkinId"></app-checkin-detail>
        </div>
    </div>
</div>