<div class="app-calendar" *ngIf="activeMonthView">
    <block-ui>
        <full-calendar defaultView="dayGridMonth" (dateClick)="onDateClick($event)" (eventClick)="openDetail($event)"
            [events]="calendarEvents" (datesRender)="getUserCheckins($event)" deepChangeDetection="true"
            [plugins]="calendarPlugins" locale="jaLocale" nextDayThreshold="01:00:00" eventLimit="true"
            eventColor="orange" eventTextColor="white" [validRange]="nowDate"></full-calendar>
    </block-ui>
</div>

<div *ngIf="isDetailOpen">
    <app-checkin-detail [checkinData]="checkinData"></app-checkin-detail>
</div>