<div class="app-calendar" *ngIf="activeMonthView">
    <block-ui>
        <full-calendar defaultView="dayGridMonth" (dateClick)="calenderClick($event)" [events]="calendarEvents" (datesRender)="getUserCheckins($event)"
        eventOrder="-id" deepChangeDetection="true" [plugins]="calendarPlugins" locale="jaLocale" nextDayThreshold="01:00:00"></full-calendar>
    </block-ui>
</div>

<div class="app-dayView" *ngIf="!activeMonthView">
    <app-day-view [calendarEvents]="calendarEvents" [selectedDate]="selectedDate" [activeMonthView]="activeMonthView"></app-day-view>
</div>