<header id="luxbar" class="luxbar-fixed">
    <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox" />
    <div class="luxbar-menu luxbar-menu-left luxbar-menu-material-amber">
        <ul class="luxbar-navigation">
            <li class="luxbar-header">
                <a [routerLink]='["/month"]' class="luxbar-brand">SwarmPlus</a>
                <label class="luxbar-hamburger luxbar-hamburger-doublespin" id="luxbar-hamburger" for="luxbar-checkbox">
                    <span></span> </label>
            </li>
            <li class="luxbar-item" [routerLink]='["/month"]'><a>カレンダー</a></li>
            <li class="luxbar-item" [routerLink]='[thisTimeLastYearPath]'><a>去年の今頃</a></li>
            <li class="luxbar-item right" (click)="logOut()"><a>ログアウト</a></li>
        </ul>
    </div>
</header>
<div id="space"></div>