/* Todo: styles.cssに共通化 */
.icon{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: orange;
}

.clock-icon{
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
    color: gray; 
}

.font-gray{
    color: gray;
}

.heart-icon{
    margin-right: 0.5rem;
    color: red;
}

.people-icon{
    margin-right: 0.5rem;
    color: skyblue;
}

.comment-icon{
    margin-right: 0.5rem;
    color: skyblue;
}
.checkin-photo{
    background-color: darkgrey;
    object-fit: contain;
    width: 100%; height: 100%;
}
